[submodule "libvncserver/src/main/jni/libvnc"]
	path = libvncserver/src/main/jni/libvnc
	url = https://github.com/LibVNC/libvncserver.git
[submodule "Openterface_Web"]
	path = Openterface_Web
	url = https://github.com/TechxArtisanStudio/Openterface_Web
